$primary: #a30000; 
$secondary: #dd2c00;
$tertiary: #ff6434;
$gray: #f7f7f7;
$modal-success-background: #b6e3ff;


i {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.alertSuccessClass,
.alertInfoClass {
    background-color: $modal-success-background;
    color: $secondary;
}

.alertDangerClass {
    background-color: #f2b8b8;
    color: $secondary;
}

button {
    background: $primary;
}