<div class="container-fluid my-4"  *ngIf="alert">
    <div class="row py-2">
        <div class="col text-center d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center">
            <h4 class="text-center font-weight-bold m-0 d-inline-block">
              {{alert.text}}
            </h4>
            <a class="ml-4" (click)="removeAlert()">
              <i class="fa fa-remove d-inline-block"></i>
            </a>
          </div>
    </div>
</div>