<div class="container-fluid mb-4" id="header-container">
    <header>
        <nav class="navbar navbar-light navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand font-weight-bold" [routerLink]="['/home']">MOUNTAIN PIZZA<br></a><a href="home.html"><img
                        src="assets/img/logo.png"></a><span class="telephone ml-0 ml-lg-3">1 800 999 9999</span><button data-toggle="collapse"
                    class="navbar-toggler" data-target="#navcol-2"><i class="fa fa-bars"></i></button>
                <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navcol-2">
                    <ul class="nav navbar-nav">
                        <!-- <li class="nav-item" role="presentation">
                            <a class="nav-link active" [routerLink]="['/customize']">Create Your Own<br></a>
                        </li> -->
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" [routerLink]="['/pizza']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                Pizzas<br>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" [routerLink]="['/product', 'chicken']" routerLinkActive="active">
                                Chicken<br>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" [routerLink]="['/product', 'salads']" routerLinkActive="active">
                                Salads<br>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" [routerLink]="['/product', 'sides']" routerLinkActive="active">
                                Sides<br>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" [routerLink]="['/product', 'breads']" routerLinkActive="active">
                                Breads<br>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" [routerLink]="['/product', 'drinks']" routerLinkActive="active">
                                Drinks<br>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" [routerLink]="['/product', 'dippings']" routerLinkActive="active">
                                Dippings<br>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" [routerLink]="['/order']" routerLinkActive="active">
                                View Order<br>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" [routerLink]="['/list-orders']" routerLinkActive="active">
                                List Orders<br>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>