$primary: #a30000; 
$secondary: #dd2c00;
$tertiary: #ff6434;
$gray: #f7f7f7;

.heading {
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: 3px solid $secondary;
}

.col-title {
    font-size: 1.1rem;
    border-bottom: 2px solid $secondary;
}

input[type=checkbox] 
{
    width: 2rem;
    height: 1rem;
} 