$primary: #a30000; 
$secondary: #dd2c00;
$tertiary: #ff6434;
$gray: #f7f7f7;


#order-list {
    a {
     color:#212529;         
    }
    
    .heading {
        font-weight: bold;
        font-size: 1.5rem;
        border-bottom: 3px solid $tertiary;
        // color: $primary;
    }

    .col-title {
        font-size: 1.1rem;
        border-bottom: 2px solid $tertiary;
    }

    #pending-orders {
        margin-bottom: 5rem;
    }

    .completed-orders {
        // background: $tertiary;
        color: $primary;

        a {
            color: $primary;
        }
    }
}

.prepared-order {
    color: green;

    a {
        color: green !important;
    }
}