<app-header></app-header>
<app-message></app-message>

<div class="container view-height" id="main-container">
    <ng-container *ngIf="products">
        <section id="chicken-section">
            <div class="row mt-4">
                <div class="col text-center">
                    <h1 class="product-title">{{productType}}</h1>
                </div>

                <div class="col-12 text-center">
                    <app-view-cart></app-view-cart>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let product of products">
                    <div class="card text-center py-4">
                        <h5>{{product.name}}</h5>
                        <img class="card-img w-100 d-block" src="assets/img/{{product.img}}">
                        <div class="card-body">
                            <p>
                                <span>Starting From:</span>
                                <span class="ml-2 font-weight-bold">
                                    {{product.price | currency:'USD':'symbol-narrow'}}
                                </span>
                            </p>
                            <div class="row justify-content-center">
                                <div class="col-12 d-flex d-lg-flex justify-content-center increase-quantity">
                                    <div class="d-flex justify-content-between">
                                        <span class="d-lg-flex align-items-lg-center">
                                            <a class="d-lg-flex align-items-lg-center" (click)="decreaseQuantity(product)">
                                                <i class="fa fa-minus-square"></i>
                                            </a>
                                            <span id="quantity" class="mx-2 font-weight-bold f-1pt5">
                                                {{product.quantity}}
                                            </span>
                                            <a class="d-lg-flex align-items-lg-center" (click)="increaseQuantity(product)">
                                                <i class="fa fa-plus-square"></i>
                                            </a>
                                        </span>
                                        <span class="font-weight-bold f-1pt5">
                                            {{product.price * product.quantity | currency:'USD':'symbol-narrow'}}
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6" *ngIf="product.customizable">
                                        <button class="btn btn-primary add-toppings" type="button" [routerLink]="['/product-customizer', product._id, product.item]">
                                            Add Topping
                                        </button>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <button class="btn btn-primary add-to-cart" type="button" (click)="addToOrder(product)">
                                            Add To Order
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</div>

<app-footer></app-footer>