<app-header></app-header>

<div class="container main">
    <div class="row mt-4">
        <div class="col text-center">
            <h1 class="page-header">ADD TOPPINGS</h1>
        </div>
        <div class="col-12 text-center">
            <app-view-cart></app-view-cart>
        </div>
    </div>
    <section id="customize-pizza-section" class="my-5">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5 order-1 order-md-0 mb-2">
                <div role="tablist" id="accordion-1">
                    <div class="card topping-select">
                        <div class="card-header" role="tab">
                            <span>Choose</span>
                            <h5 class="d-flex align-items-center mb-0">
                                <a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-1" href="div#accordion-1 .item-1">
                                    Topping
                                    <i class="fa fa-caret-right ml-2"></i>
                                </a>
                            </h5>
                        </div>
                        <div class="collapse show item-1" role="tabpanel" data-parent="#accordion-1">
                            <div class="card-body">
                                <section class="mt-2" *ngFor="let topping of toppings">
                                    <h6>{{topping.title}}</h6>
                                    <div class="row">
                                        <div class="col-4 d-flex justify-content-center align-items-center">
                                            <img class="img-fluid d-flex" src="assets/img/{{topping.img}}">
                                        </div>
                                        <div class="col-8">
                                            <div class="row">
                                                <div class="col d-flex justify-content-center">
                                                    <img class="img-fluid mr-3" src="assets/img/notoppings.jpg" style="width: 20px;height: 20px;">
                                                    <img class="img-fluid mr-3" src="assets/img/full.jpg" style="width: 20px;height: 20px;">
                                                    <img class="img-fluid" src="assets/img/2x.jpg" style="width: 20px;height: 20px;">
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col d-flex justify-content-center">
                                                    <ng-container *ngFor="let qty of topping.quantity">
                                                        <input type="radio" class="mr-1" name="{{topping.name}}" id="{{qty.amount}}" [(ngModel)]="topping.amount" [value]="qty.amount"
                                                            checked="qty.amount=='none'" (change)="addTopping(topping)">
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-lg-flex col-md-6 col-lg-7 order-0 order-md-1 mb-2" id="customize-col">
                <div class="row mb-2">
                    <div class="col-12 text-center">
                        <h4 class="primary-color mb-4">{{salad.name}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center" id="create-col">
                        <img class="img-fluid" id="base" src="assets/img/{{salad.img}}">
                    </div>
                </div>
                <div class="row" *ngIf="salad">
                    <div class="col d-flex justify-content-lg-center align-items-lg-center" id="add-column">
                        <div class="d-flex justify-content-between">
                            <span class="d-lg-flex align-items-lg-center">
                                <a class="d-lg-flex align-items-lg-center" (click)="decreaseQuantity()">
                                    <i class="fa fa-minus-square"></i>
                                </a>
                                <span id="quantity" class="mx-2 font-weight-bold f-1pt5">{{salad.quantity}}</span>
                                <a class="d-lg-flex align-items-lg-center" (click)="increaseQuantity()">
                                    <i class="fa fa-plus-square"></i>
                                </a>
                            </span>
                            <span class="font-weight-bold f-1pt5">{{computePrice() | currency:'USD':'symbol-narrow'}}</span>
                            <span class="d-lg-flex align-items-lg-center">
                                <button class="btn btn-primary btn-sm font-weight-bold" type="button" *ngIf="!editId" (click)="addToOrder()">
                                    <span *ngIf="!editId">ADD</span>
                                </button>
                                <button class="btn btn-primary btn-sm font-weight-bold" type="button" *ngIf="editId" (click)="saveOrder()">
                                    <span *ngIf="editId">SAVE</span>
                                </button>
                                <a id="cancel" class="d-block ml-lg-3" (click)="cancelOrder()" style="/*color: #f9501c;*/">
                                    Cancel
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-5" *ngIf="xtraToppings.length">
                    <div class="col" id="customization-list">
                        <div class="row">
                            <div class="col-12">
                                <h4>You added:</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" id="items">
                                <ol class="pl-4">
                                    <li *ngFor="let topping of xtraToppings">
                                        {{displaySelection(topping)}}
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>