@import "./app/home/home.component.scss";

body, html {  
  height: 100%;
}

.view-order {
    background: #dd2c00 !important;
    border: outset;
    font-weight: bold;
    min-width: 12rem !important;
  }
  
  .view-order:hover {
    background: #a30000 !important;
  }

  footer {
    background: #dd2c00;
  }

  .f-1pt5 {
    font-size: 1.5rem;
  }

  body {
    font-family: 'Roboto' !important;
    font-size: 1.1rem;
    a {
      cursor: pointer;
      text-decoration: none !important;
    }
  }

  .primary-color {
    color: $primary !important;
  }

  .secondary-color {
    color: $secondary !important;
  }

  .secondary-background {
    background: $secondary !important;
  }

  .increase-quantity {
    div {
        background: $gray;
        width: 100%;
        padding: 1rem;
        border-radius: 12px;
    
        i {
            background: white;
            color: $primary;
            font-size:2em;
        
            &:hover {
                color: $tertiary !important;
            }
        }
                
        @media(min-width: 992px) {
            width: 80%;
        }
    }
}

.view-height {
  // min-height: calc(100vh - 132px - 96px);
  min-height: 65vh;
}

input[type="radio"],
input[type="checkbox"] {
    width: 1.2rem;
    height: 1rem;
}


